:root {
  --font-family: "JetBrains Mono", monospace;
  --line-height: 1.40rem;
  --border-thickness: 2px;
  --text-color: #fff;
  --text-color-alt: #aaa;
  --background-color: #000;
  --background-color-alt: #111;
  --font-weight-normal: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 800;
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-normal);
  font-style: normal;
  font-variant-numeric: tabular-nums lining-nums;
  font-size: 16px;
}

html {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
  color: var(--text-color);
}

body {
  margin: 0;
  max-width: calc(min(80ch, round(down, 100%, 1ch)));
  background-color: var(--background-color);
  color: var(--text-color);
  padding: var(--line-height) 2ch;
  line-height: var(--line-height);
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: .67em 0;
}
