:root {
  --font-family: "JetBrains Mono", monospace;
  --line-height: 1.40rem;
  --border-thickness: 2px;
  --text-color: #fff;
  --text-color-alt: #aaa;
  --background-color: #000;
  --background-color-alt: #111;
  --font-weight-normal: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 800;
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-normal);
  font-style: normal;
  font-variant-numeric: tabular-nums lining-nums;
  font-size: 16px;
}

html {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
  color: var(--text-color);
}

body {
  margin: 0;
  max-width: calc(min(80ch, round(down, 100%, 1ch)));
  background-color: var(--background-color);
  color: var(--text-color);
  padding: var(--line-height) 2ch;
  line-height: var(--line-height);
}


h1 {
  font-size: 2.4em;
  line-height: 1.1;
  margin: .67em 0;
}

a:link, a:visited {
  color: var(--text-color);
}

.typewriter h1 {
  overflow: hidden;
  border-right: 0.15em solid var(--text-color);
  white-space: nowrap;
  width: 16ch;
  animation: 
  typing 2.5s steps(40, end),
  blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 16ch }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--text-color) }
}
